.heading{
    background-color: #C7EA46;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}
.optionsContainer{
    background-color: rgb(48 58 82);
    color: #fff;
    text-align: center;
}
.optionsWrapper{
    padding: 25px 0;
}
.mainLogo{
    width: 50px;
}
.hamburgerBtn{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.hrLine{
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 3px;
}
.optionsLogo{
    height: 40px;
}