<div class="dashboardWrapper">
  <div class="breadCrumb">
    <span class="home">Home</span>
    <span class="separate">/</span>
    <span class="dashboard">Dashboard</span>
  </div>
  <div class="dBMainContent">
    <div class="quickBtnsWrapper">
      <div class="quickBtns">Quick Buttons</div>
      <div class="allBtns">
        <div class="leftBtns">
          <div class="quickOption">
            <img
              class="optionsLogo"
              src="../../assets/Users.svg"
              alt="dashboard"
            />
            <div class="options">Add Tenant</div>
          </div>
          <div class="quickOption">
            <img
              class="optionsLogo"
              src="../../assets/ArrowRightOnRectangle.svg"
              alt="dashboard"
            />
            <div class="options">Add Income</div>
          </div>
        </div>
        <div class="centerBtns">
          <div class="quickOption">
            <img
              class="optionsLogo"
              src="../../assets/BuildingOffice.svg"
              alt="dashboard"
            />
            <div class="options">Add Property</div>
          </div>
          <div class="quickOption">
            <img
              class="optionsLogo"
              src="../../assets/Wallet.svg"
              alt="dashboard"
            />
            <div class="options">Add Expense</div>
          </div>
        </div>
        <div class="rightBtns">
          <div class="quickOption">
            <img
              class="optionsLogo"
              src="../../assets/WrenchScrewdriver.svg"
              alt="dashboard"
            />
            <div class="options">Add Request</div>
          </div>
          <div class="quickOption">
            <img
              class="optionsLogo"
              src="../../assets/Share.svg"
              alt="dashboard"
            />
            <div class="options">Send Announcement</div>
          </div>
        </div>
      </div>
      <div class="occupancyRate">
        <div class="percent"><span class="percentage">100%</span></div>
        <div class="OccupancyText">Occupancy Rate </div>
        <div class="OccupancyText">100%</div>
      </div>
    </div>
    <div class="dashBoardDetails">
        <div class="noOfProperties">
            <div class="detailsText">Total number of properties</div>
            <div class="propertyNumWrapper">
                <div class="detailsLogo"><img class="optionsLogo" src="../../assets/BuildingOffice.svg" alt="Office"></div>
                <div class="detailsNumber">2</div>
            </div>
        </div>
        <div class="noOfTenants">
            <div class="detailsText">Total number of Tenants</div>
            <div class="numOfTenants">
                <div class="detailsLogo"><img class="optionsLogo" src="../../assets/Users.svg" alt="Tenants"></div>
                <div class="detailsNumber">20</div>
            </div>
        </div>
        <div class="tenantsPaymentNotRec">
            <div class="detailsText">Total number of Tenants who have not paid</div>
            <div class="numOfTenants">
                <div class="detailsLogo notPaid"><img class="optionsLogo" src="../../assets/Users.svg" alt="Tenants"></div>
                <div class="detailsNumber">2</div>
            </div>
        </div>
        <div class="totalIncome">
            <div class="detailsText">Total net income</div>
            <div class="netIncomeDigits">
                <div class="detailsLogo"><img class="optionsLogo" src="../../assets/Users.svg" alt="Tenants"></div>
                <div class="detailsNumber">2,891.60</div>
            </div>
        </div>
    </div>
  </div>
</div>
